$font-fuente:Titillium Web, sans-serif;
$color-fondos: #20232A;
$font-size:30px;
$color-white:white;
$size-box:5vh;

.section-search{
    width: inherit;
    height: 100vh;
    background-color: $color-fondos;
}
.text-search{
    font-family: $color-fondos;
    color: $color-white;
    font-size: $font-size;

}
.select{
    width:30rem;
    height: 10vh;
    text-align: center;
    font-family: $font-fuente;
    font-size: $font-size;
    color:$color-white;
    background-color: $color-fondos;
    border-color: $color-white;
    border-width: 3px;
}
.select::-ms-expand {
    display: none;
}
.box-select{
    display: flex;
    flex-direction: column;
}
.box-search{
   display: flex;
   flex-direction: row;
   justify-content:center;
}
.box-search p{
    color:$color-white;
}
.input-search{
    width: 20rem;
    height: $size-box;
    border-radius: 10px;
    font-family: $font-fuente;
    text-align: center;
}
.fa-search{
    color:$color-fondos;
    font-size: 28px;
    margin-top:0; 
}
.btn-search{
    border-radius: 5px;
}
.box-result{
    padding-top: 4vh;
}
.box-target{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $color-white;
}
.target-info{
    display: flex;
    flex-direction: column;
    color: $color-fondos;
    width: 23rem;
    height: 18vh;
    background-color: palevioletred;
    border-radius: 10px;
    margin-top: 4vh;
}
.p-text{
    color: $color-fondos;
}
.img-cme{
    width: auto;
    height: 6vh;
    margin: 0;
}
.box-cme{
    width: 23rem;
    height: 18vh;
    background-color: #E6993E;
    border-radius: 10px;
    margin-top: 4vh;
    font-size: 10px;
}
.box-all{
    width: inherit;
    height: 77vh;
    display: flex;
    margin: 0;
    padding: 0;
    color: $color-white;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-around;
    align-items: center;
}

